{% if list %}	
	<table>
	  <thead>
	    <th>Name</th>
	    <th>Slug</th>
	    <th>Active</th>
	    <th>Sheet</th>
	    <th>Image</th>
	    <th></th>
	    <th></th>
	  </thead>
	
	  <tbody>      
		{% for r in list %}
		    <tr>
		      <td>{{ r.name }}</td>
		      <td>{{ r.slug }}</td>
		      <td>{{ r.active }}</td>
		      <td>{{ r.spread_sheet_path }}</td>
		      <td>{{ r.img_path }}</td>
		      <td><a href="/edit/{{ r.name }}">Edit</a></td>
		      <td><a href="/delete/{{ r.name }}">Delete</a></td>
		    </tr>
		{% endfor %}
	  </tbody>
	</table> 
{% endif %}

<p>
	<a href="/upload" class="btn btn-default">Add</a>
</p>